.notification,
.error {
  font-size: 1.4 rem;
  background: lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  border: 2px solid green;
}

.error {
  color: red;
  border: 2px solid red;
}
.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.btn {
  padding: 5px;
  margin: 5px;
}

.blog {
  padding: 2px;
  margin: 5px 10px;
  border-top: 1px solid black;
}
.like-btn {
  background: lightgreen;
}
